* {
    font-family: 'Roboto', sans-serif;
}

header {
    position:relative;
    height: 50px;
}
nav {
    position: fixed;
    width:100%;
    min-height: 55px;
    background: #212121;
    z-index:2;
}

.menu {
    padding:13px 70px;
    display:flex; 
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
}
 .menu .menu_item {
     border-right: 2px dotted #000000;   
     padding-right: 28px;
}

.subheader {
    position: absolute;
    width:100%;
    height: 87px;
    background-color: rgba(0,0,0, .6);
    top:50px;
}

.subheader .subheader_logo {
    display: block;
    max-width:100%;
    text-decoration: none;
    margin-top: 16px;
}

.subheader .subheader_official {
    opacity: 0.5;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 6px;
}

.subheader .subheader_call {
    margin-top: 20px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader .subheader_phone {
    display:block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.subheader .subheader_btn, .promo .promo_btn {
    margin-top: 21px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border:none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo{
    min-height: 800px;
    background: url('/2/src/img/bg/uber_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header {
    /* margin-top: 66px; */
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descr {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn {
    display:block;
    margin: 0 auto;
    margin-top: 116px;
    font-size:18px;
    width: 211px;
    height: 63px;
    border-radius: 8px
}

.reason {
    min-height: 850px;
    padding:71px 0 64px 0;
}

.label{
    margin: 0 auto;
    width: 115px;
    height: 27px;
    padding:5px 12px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
}

 .title {
    margin-bottom: 0;
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.reason .reason_item {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 26px;
}
.reason .reason_item .reason_round {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius:100%;
    margin-right: 25px;
    
}

.reason .reason_item .reason_descr {
    width:343px;
    }

.reason .reason_item .reason_descr .reason_subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.reason .reason_item .reason_descr .reason_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}